.tech_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5.5rem;
}

.card_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  gap: 2rem;
  align-items: center;
  flex-direction: row;
  border: 1px solid;
  height: 5.375rem;
  width: 17.9375rem;
  display: flex;
  border-radius: var(--radius);
  padding-left: 1rem;
}

@media screen and (max-width: 25.875rem) {
  .tech_container {
    align-items: center;
  }
  .card_box {
    justify-content: center;
  }
}
